@import '../sass/variables';

.add_to_cart {
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    background-color: $primary_color_orange;
    color: $neutral_white;
    padding: 0.5em 1.5em;
    border-radius: 8px;
    box-shadow: 0px 1px 16px 0px $primary_color_orange;


    &:hover {
        background-color: $primary_color_orange;
        opacity: 0.7;
        transition: 0.2s ease-in-out;

    }



    img {
        width: 20px;
    }

    p {
        font-weight: $bold_font_weight;
    }

}