@import '../sass/variables';


.add_to_cart_container {

    .add_to_cart {
        display: flex;
        align-items: center;
        gap: 1em;
        cursor: pointer;
        background-color: $primary_color_orange;
        color: $neutral_white;
        padding: 13px 43px;
        border-radius: 8px;
        box-shadow: 0px 1px 16px 0px $primary_color_orange;


        &:hover {
            background-color: $primary_color_orange;
            opacity: 0.7;
            transition: 0.2s ease-in-out;

        }

        img {
            width: 20px;
        }

        button {
            cursor: pointer;
            font-family: "Kumbh Sans", sans-serif;
            font-weight: $bold_font_weight;
            background-color: transparent;
            border: none;
            color: $neutral_white;
            font-size: large;
        }

    }

}