@import '../sass/variables';

.line {
    border-bottom: 1px solid $neutral_grayish_blue;
    opacity: 0.3;
    margin-bottom: 12vh;
}

.active {
    background-color: $neutral_darkblue;
    opacity: 0.7;
}



@media screen and (max-width: $mobile_view) {

    .line {
        display: none;
    }

}