@import '../sass/variables';

.image_grid {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    gap: 1em;


    .bigImage {
        display: block;
        text-align: center;

        img {
            width: 449px;
            object-fit: cover;
            border-radius: 16px;
            cursor: pointer;
        }

        svg {
            position: absolute;
            bottom: 45%;
            background-color: $neutral_white;
            border-radius: 50%;
            cursor: pointer;
        }

        .arrow_prev {
            left: 5%;
        }

        .arrow_next {
            right: 5%;
        }

    }

    .small_images {
        display: flex;
        justify-content: space-between;


        div {
            img {
                width: 100px;
                object-fit: cover;
                margin: 0 0.5em;
                border-radius: 12px;


                &:active {
                    border: 2px solid $primary_color_orange;
                    cursor: pointer;
                    opacity: 0.5;

                }

                &:hover {
                    transition: 0.5s ease-in-out;
                    border: none;
                    cursor: pointer;
                    opacity: 0.5;
                }
            }
        }

        div:nth-child(1) img {

            border: 2px solid $primary_color_orange;
            border-radius: 12px;

        }
    }
}

// Modal styles

.modal {


    .close_modal {
        cursor: pointer;
        text-align: right;
    }

    .small_images_modal {
        display: flex;
        justify-content: space-between;


        div {

            img {
                width: 100px;
                object-fit: cover;
                margin: 0 0.5em;
                border-radius: 12px;


                &:active {
                    border: 2px solid $primary_color_orange;
                    cursor: pointer;
                    opacity: 0.5;

                }

                &:hover {
                    transition: 0.5s ease-in-out;
                    border: none;
                    cursor: pointer;
                    opacity: 0.5;
                }
            }

            .thumb_active {
                border: 2px solid $primary_color_orange;
                border-radius: 12px;
            }

        }
    }
}


// media queries
@media screen and (max-width: $mobile_view) {

    .onMobileImageGrid {

        .bigImage {
            width: 100%;
            height: 100%;
            object-fit: cover;

            img {
                width: 100%;
                border-radius: 0;
            }
        }

        .small_images {
            display: none;
        }
    }

    .modal {
        position: static;
    }


}