@import '../sass/variables';

nav {
    display: flex;
    justify-content: space-between;
    padding: 2vh 0;

    .navbar_ctn_left {
        display: flex;
        align-items: center;

        img {
            margin-right: 2vw;
        }

        a {
            text-decoration: none;
            color: $neutral_grayish_blue_dark;
            margin: 0 1vw;

            &:hover {
                color: $neutral_darkblue;
            }
        }

    }

    .navbar_ctn_right {
        display: flex;
        align-items: center;

        // .cartIcon{} on hover svg must change color
        img {
            margin-right: 1vw;
            cursor: pointer;
        }

        .cartCount {
            font-weight: 600;
            position: absolute;
            margin-right: 1vw;
            margin-left: 10px;
            margin-bottom: 20px;
            color: hsl(0, 0%, 100%);
            background-color: hsl(26, 100%, 55%);
            padding: 1px 8px;
            border-radius: 30% / 55%;
            font-size: 12px;
        }

        .avatar {
            margin-left: 1vw;
            width: 40px;
            height: 40px;
        }

    }
}